{% extends "base.html" %}
{% block title %}Análise{% endblock %}

{% block content %}

<h1 class="text-xl font-semibold mb-4">Pacientes</h1>

<div class="grid grid-cols-2 gap-6">

{% for group, items in audios.items() %}

<div class="bg-white border rounded-lg p-4">

<h2 class="font-semibold mb-3">{{group}}</h2>

<ul class="space-y-1">

{% for audio in items %}

<li>
<a class="text-blue-600 hover:underline"
href="/analysis/view/{{group}}/{{audio}}">
{{audio}}
</a>
</li>

{% endfor %}

</ul>

</div>

{% endfor %}

</div>

{% endblock %}